################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Cayent/.vs/Cayent/v15
/Cayent/.vs/config
/Cayent/Cayent.Core/bin/Debug/netcoreapp2.2
*.user
/Cayent/Cayent.Core/obj/Debug/netcoreapp2.2
/Cayent/Cayent.Core/obj
