<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="~/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Admin</title>

    <link rel="stylesheet" href="~/vendor-bundle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/admin.css" asp-append-version="true" />
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        @*<vc:admin-sidebar></vc:admin-sidebar>*@
        @await Component.InvokeAsync("AdminSidebar")
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                @await Component.InvokeAsync("AdminNavbar")
                @*<vc:admin-navbar></vc:admin-navbar>*@
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid p-3">
                    <app-component>
                        @RenderBody()
                    </app-component>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; PCA.Web 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="~/Identity/Account/Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/vendor-bundle.js" asp-append-version="true"></script>
    <script src="~/admin.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>