@page
@model Cayent.Web.Admin.RCL.Admin.Pages.IndexModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    Cayent.Web.Admin.RCL
</body>
</html>
