
<ul ng-controller="sidebarComponent as $ctrl" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/">
            <span class="sidebar-brand-icon">
                <i class="fas fa-user-shield"></i>
            </span>
            <span class="sidebar-brand-text mx-3">Admin</span>
        </a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider my-0" />
    </li>

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
        <a class="nav-link" asp-area="admin" asp-page="/Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link pt-0" asp-area="admin" asp-page="/Users/Index">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Users</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link pt-0" asp-area="admin" asp-page="/Roles/Index">
            <i class="fas fa-fw fa-2x fa-user-injured"></i>
            <span>Roles</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link pt-0" asp-area="admin" asp-page="/Permissions/Index">
            <i class="fas fa-fw fa-user-md"></i>
            <span>Permissions</span>
        </a>
    </li>
    
    <!-- Divider -->
    <li>
        <hr class="sidebar-divider">
    </li>

    <!-- Heading -->
    <li class="sidebar-heading">
        Settings
    </li>
    <li class="nav-item">
        <a class="nav-link pt-2" asp-page="/Administrator/Quickbooks/Index">
            <i class="fas fa-fw fa-external-link-alt"></i>
            <span>QuickBooks Integration</span>
        </a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider">
    </li>

    <!-- Heading -->
    <li class="sidebar-heading">
        Security
    </li>
    <li class="nav-item">
        <a class="nav-link pt-2" asp-page="/Administrator/Accounts/Index">
            <i class="fas fa-fw fa-user-lock"></i>
            <span>Accounts</span>
        </a>
    </li>

    <!-- Divider -->
    <li>
        <hr class="sidebar-divider d-none d-md-block">
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <li class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </li>

</ul>