@page "{handler?}"
@model Cayent.Web.Admin.RCL.Areas.Admin.Pages.Roles.IndexModel
@{
}

<roles-component>
    <div class="text-center">
        <div class="p-3">
            Loading, please wait...
        </div>
        <spam class="spinner-border text-primary"></spam>
    </div>
</roles-component>